
extends layout

block title
    h1.display-3 Welcome to Express Mailer!

block content
    p This is a web application made with Bootstrap, Pug and Nodemailer. It features a contact section that sends emails to a predefined adress.

    p
        a.btn.btn-primary.btn-lg(href='/about' role='button') Learn more &raquo;


block footer
    footer.container
        p &copy; Jaime Gonz&aacute;lez Ortega 2017-2018